.qr-code-component {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
    padding-top: 10px;
    max-width: 300px;
    text-align: center;
}

#card-image {
    display: grid;
    place-items: center;
}

.card {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    padding: 10px
}

.card-content h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.card-content p {
    margin: 0;
    font-weight: 400;
    padding-bottom: 10px;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    justify-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li { 
    list-style: none; 
}


ul li:has(.card4), ul li:nth-child(4) {
    grid-column: 2 / 3;
    justify-self: center;
}

ul .card4 { 
    margin: 0 auto; 
}

@media (max-width: 1000px) {
    ul {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0 1rem;
    }
    ul li:has(.card4), ul li:nth-child(4) {
        grid-column: auto;
        justify-self: center;
    }
    ul .card4 { 
        margin: 0 auto; 
    }
}

